In [2]:
import pandas as pd
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [12]:
df=q_df.fillna('others')
df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [15]:
from sklearn.preprocessing import LabelEncoder
df['Sex_label']=LabelEncoder().fit_transform(df['Sex'] )
df['Profession_label']=LabelEncoder().fit_transform(df['Profession'] )
df

      Sex Profession  Sex_label  Profession_label
0    male    teacher          1                 2
1    male   engineer          1                 0
2  female     others          0                 1
3  female   engineer          0                 0