In [2]:
import pandas as pd
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [12]:
df=q_df.fillna('others')
df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [16]:
#更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?
#因為沒有大小或順序, 比較適合使用 One-hot Encoding